#p {
    color: white;
}

#password {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#submit {
    width: 200px;
    padding: 12px 20px;
    text-decoration: none;
    margin: 8px 0;
    box-sizing: border-box;
}

#error {
    color: white;
}